@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.restaurant-selection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: $size-text;
    box-sizing: border-box;
    &__card {
        width: calc(100% - #{$size-text});
        height: calc(#{$size-text} * 14 );
        margin-right: $size-text;
        margin-bottom: $size-text;
        @include shadow;
        box-sizing: border-box;
        border-radius: $size-text;
        overflow: hidden;
        position: relative;
        &:last-child {
            margin-bottom: calc(#{$size-text} * 4);
        }
        &__new {
            position: absolute;
            top: calc(#{$size-text} * 1.5);
            right: calc(#{$size-text} * 1.25);
            margin: 0;
            padding: calc(#{$size-text} * .5) calc(#{$size-text} * .75) calc(#{$size-text} * .5) calc(#{$size-text} * .75);
            border-radius: .1rem;
            @include shadow;
            background-color: $color-third;
            color: darken($color: $color-third, $amount: 50%);
        }
        &__img {
            width: 100%;
            height: calc(#{$size-text} * 10 );
            object-fit: cover;
            &:nth-child(1) {
                object-position: 50% 61%;
            }
        }
        &__name {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 calc(#{$size-text} * 2) 0 $size-text;
            height: calc(#{$size-text} * 4 );
            &__text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                height: calc(#{$size-text} * 4 );
                &__title {
                    margin: 0;
                    margin-bottom: calc(#{$size-text} * .3);
                }
                &__subtitle {
                    margin: 0;
                }
            }
            &__icon {
                color: lighten($color-navigation-location, 20%);
                position: relative;
                z-index: 90;
                transition: .2s;
                font-size: calc(#{$size-text} * 1.5);
                &:hover {
                    color: transparent;
                    transition: .5s;
                }
                &:hover + .restaurant-selection__card__name__icon--full {
                    transition: .2s;
                    font-size: calc(#{$size-text} * 1.5);
                    height: calc(#{$size-text} * 1.5);
                }
                &--full {
                    font-size: 0;
                    height: 0;
                    right: calc(#{$size-text} * 2);
                    position: absolute;
                    z-index: 1;
                    background: linear-gradient($color-second, $color-primary);
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                }
            }
        }
    }
}