@import "./base/reset.scss";
@import "./base/typography.scss";
@import "./utils/mixins.scss";

body {
    text-align: center;
}
.header {
    &__logo {
        box-shadow: 0 0 .5rem 0 rgba($color: #000000, $alpha: .45);
        position: relative;
        &--restaurant {
            position: fixed;
            background-color: white;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__icon {
            padding: calc(#{$size-logo-title} / 2) 0 calc(#{$size-logo-title} / 2) 0;
            &--back {
                color: lighten($color-navigation-location, 10%);
                position: absolute;
                left: $size-text;
            }
        }
    }
    &__user-navigation {
        background-color: $color-background;
        &__location {
            background-color: darken($color-background, 4%);
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-navigation-location;
            &__position {
                margin-left: $size-text;
            }
        }
        &__explorer {
            &__title {
                width: calc(#{$size-logo-title} * 10);
                margin-left: auto;
                margin-right: auto;
            }
            &__subtitle {
                width: calc(#{$size-logo-title} * 12);
                margin-left: auto;
                margin-right: auto;
                color: lighten($color-navigation-location, 30%);
            }
            &__btn {
                padding: $size-text;
                border-radius: calc(#{$size-text} * 2);
                border: transparent;
                background: linear-gradient($color-second, $color-primary);
                box-shadow: 0 .2rem .5rem 0 rgba($color: #000000, $alpha: .35);
                margin: calc(#{$size-text} / 2) 0 calc(#{$size-text} * 3) 0;
            }
        }
    }
}
.user-explanation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__title {
        //margin: calc(#{$size-logo-title} * 2) 0 calc(#{$size-logo-title} * 2) 0;
        margin-left: $size-text;
    }
    &__step {
        background-color: #f6f6f6;
        width: calc(100% - 3 * #{$size-text});
        margin: calc(#{$size-text} * 1.5) calc(#{$size-text} * 2)  auto;
        padding: calc(#{$size-text} * 1.5) 0 calc(#{$size-text} * 1.5) 0;
        border-radius: $size-text;
        box-shadow: 0 .2rem .80rem 0 rgba($color: #000000, $alpha: .2);
        display: flex;
        align-items: center;
        &:nth-child(2) {
            margin-top: 0;
        }
        &:nth-child(4) {
            background-color: lighten($color-primary, $amount: 35);
            .user-explanation__step__icon {
                color: $color-primary;
            }
        }
        &__number {
            background-color: $color-primary;
            width: calc(#{$size-text} * 1.5);
            height: calc(#{$size-text} * 1.5);
            line-height: calc(#{$size-text} * 1.5);
            border-radius: 50%;
            color: white;
            position: relative;
            right: calc(#{$size-text} * .8);
        }
        &__icon {
            margin: 0 $size-text 0 calc(#{$size-text} * .2 );
            color: lighten($color-navigation-location, 30%);
        }
    }
}
.restaurant-selection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: $size-text;
    box-sizing: border-box;
    &__card {
        width: calc(100% - #{$size-text});
        height: calc(#{$size-text} * 14 );
        margin-right: $size-text;
        margin-bottom: $size-text;
        box-shadow: 0 .2rem .5rem 0 rgba($color: #000000, $alpha: .35);
        box-sizing: border-box;
        border-radius: $size-text;
        overflow: hidden;
        &:last-child {
            margin-bottom: calc(#{$size-text} * 4);
        }
        &__img {
            width: 100%;
            height: calc(#{$size-text} * 10 );
            object-fit: cover;
            &:nth-child(1) {
                object-position: 50% 61%;
            }
        }
        &__name {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 1rem 0 1rem;
            height: calc(#{$size-text} * 4 );
            &__text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                height: calc(#{$size-text} * 4 );
                &__title {
                    margin: 0;
                    margin-bottom: calc(#{$size-text} * .3);
                }
                &__subtitle {
                    margin: 0;
                }
            }
            &__icon {
                color: lighten($color-navigation-location, 20%);
                position: relative;
                z-index: 90;
                transition: .2s;
                &:hover + .restaurant-selection__card__name__icon--full {
                    display: inline;
                    position: absolute;
                    right: calc(#{$size-text} * 2);
                    color: $color-primary;
                    z-index: 90;
                    transition: .2s;
                }
                &--full {
                    display: none;
                }
            }
        }
    }
}
//Modification content/pages/"restaurant"
.restaurant-img {
    width: 100%;
    height: calc(#{$size-text} * 15);
    object-fit: cover;
    position: relative;
    z-index: -1;
    top: calc(#{$size-text} * 3);
}
.menu {
    background-color: $color-background;
    border-radius: calc(#{$size-text} * 2) calc(#{$size-text} * 2) 0 0;
    padding: 0 $size-text 0 $size-text;
    &__nom-restaurant {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: $size-text;
    }
    &__meal {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &__title {
            border-bottom: darken($color-background, 20%) solid .15rem;
            box-sizing: content-box;
            width: calc(#{$size-text} * 2.5);
        }
        &__card {
            width: 100%;
            display: flex;
            margin: 0 0 $size-text 0;
            box-shadow: 0 .2rem .5rem 0 rgba($color: #000000, $alpha: .15);
            border-radius: calc(#{$size-text} / 1.5);
            overflow: hidden;
            &__checkbox {
                position: absolute;
                opacity: 0;
                width: 0;
                height: 0;
                &:checked + .menu__meal__card__box {
                    width: 80%;
                    transition: .5s all;
                }
                &:checked ~ .menu__meal__card__box--choice {
                    width: 20%;
                    transition: .5s all;
                    & .menu__meal__card__box__icon {
                        transform: rotate(360deg);
                        transition: .5s all;
                    }
                }
            }
            &__box {
                background-color: white;
                width: 100%;
                display: grid;
                justify-items: stretch;
                grid-template-columns: 80% 1fr 0;
                grid-template-rows: 1fr 1fr;
                text-align: left;
                transition: .2s all;
                &--choice {
                    width: 0;
                    margin-bottom: $size-text;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $color-third;
                    overflow: hidden;
                    margin: 0;
                }
                &__title {
                    margin: calc(#{$size-text} * 1.1) 0 0 0;
                    padding-left: calc(#{$size-text} * .5);
                    font-weight: 600;
                    @include text-overflow-restaurant();
                }
                &__subtitle {
                    grid-column: 1 / 1;
                    padding-left: calc(#{$size-text} * .5);
                    margin-top: calc(#{$size-text} * .4);
                    @include text-overflow-restaurant();
                }
                &__price {
                    text-align: right;
                    margin-top: calc(#{$size-text} * .4);
                    padding-right: $size-text;
                }
                &__icon {
                    color: white;
                }
            }
        }
        }
    &__order {
        width: calc(#{$size-text} * 11);
        margin-top: calc(#{$size-text} * 1.2);
    }
}
.footer {
    background-color: darken($color-background, 75%);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: $size-text;
    line-height: 0;
    &__logo {
        font-size: calc(#{$size-logo-title} * .9);
        margin: calc(#{$size-logo-title} * 1.6) 0 calc(#{$size-logo-title} * 1.3) 0;
    }
    &__group {
        display: flex;
        align-items: center;
        color: $color-text-footer;
        &__icon {
            margin-right: $size-text;
        }
    }
    &__text {
        color: $color-text-footer;
    }
    &__text:last-child {
        margin-bottom: calc(#{$size-text} * 3);
    }
}