@media only screen 
    and (min-width: 1025px){
        header {
            position: relative;
            @include desktop-position;
            @include shadow(.2);
        }
        .header {
            &__logo {
                @include shadow(.2);
            }
            &__logo--restaurant {
                @include desktop-position;
                text-align: center
            }
        }
        main {
            @include desktop-position;
            @include shadow(.2);
        }
        .user-explanation {
            padding: calc(#{$size-text} * 2);
            align-items: center;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: calc(#{$size-text} * 2);
            align-items: center;
            &__title {
                grid-column: 1 / span 3;
            }
            &__step {
                justify-content: center;
                width: 100%;
                height: calc(#{$size-text} * 5);
                margin: calc(#{$size-text} * 1) auto calc(#{$size-text} * 1.5)  auto;
                position: relative;
                &__number {
                    position: absolute;
                    display: flex;
                    font-size: calc(#{$number-explanation--desktop} * .8);
                    width: $number-explanation--desktop;
                    height: $number-explanation--desktop;
                    justify-content: center;
                    align-items: center;
                    top: calc(#{$number-explanation--desktop} / -2);
                    left: calc(50% - #{$number-explanation--desktop} / 2);
                }
                &:nth-child(2) {
                    margin-top: calc(#{$size-text} * 1);
                }
            }
        }
        .restaurant-selection {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            &__title {
                grid-column: 1 / span 2;
            }
            &__card {
                height: calc(1rem * 25);
                &__img {
                    height: calc(1rem * 21);
                }
            }
        }
        .restaurant-img {
            height: calc(1rem * 20);
        }
        .menu {
            position: relative;
            &__meal {
                &__card {
                    width: calc(100% - #{$size-text} * 5);
                    margin: 0 auto $size-text auto;
                }
            }
        }
        .footer > * {
            width: calc(#{$size-text} * 80);
            margin-left: auto;
            margin-right: auto;
            text-align: left;
        }
    }