.restaurant-img {
    width: 100%;
    height: calc(#{$size-text} * 15);
    object-fit: cover;
    position: relative;
    z-index: -1;
    top: calc(#{$size-text} * 3);
}
.menu {
    background-color: $color-background;
    border-radius: calc(#{$size-text} * 2) calc(#{$size-text} * 2) 0 0;
    padding: 0 $size-text 0 $size-text;
    overflow: hidden;
    &__nom-restaurant {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: $size-text;
    }
    &__selection {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 0;
        opacity: 0;
        &__title {
            border-bottom: $color-third solid .15rem;
            box-sizing: content-box;
            margin-bottom: $size-text;
            padding-bottom: calc(#{$size-text} / 4);
            width: calc(#{$size-text} * 2.5);
        }
        &__card {
            width: 100%;
            display: flex;
            margin: 0 0 $size-text 0;
            box-shadow: 0 .2rem .5rem 0 rgba($color: #000000, $alpha: .15);
            border-radius: calc(#{$size-text} / 1.5);
            overflow: hidden;
            opacity: 0;
            &__checkbox {
                position: absolute;
                opacity: 0;
                width: 0;
                height: 0;
                &:checked + .menu__selection__card__box {
                    width: 80%;
                    transition: .5s all;
                }
                &:checked ~ .menu__selection__card__box--choice {
                    width: 20%;
                    transition: .5s all;
                    & .menu__selection__card__box__icon {
                        transform: rotate(360deg);
                        transition: .5s all;
                    }
                }
            }
            &__box {
                background-color: white;
                width: 100%;
                display: grid;
                justify-items: stretch;
                grid-template-columns: 80% 1fr 0;
                grid-template-rows: 1fr 1fr;
                text-align: left;
                transition: .2s all;
                &--choice {
                    width: 0;
                    margin-bottom: $size-text;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $color-third;
                    overflow: hidden;
                    margin: 0;
                }
                &__title {
                    margin: calc(#{$size-text} * 1.1) 0 0 0;
                    padding-left: calc(#{$size-text} * .5);
                    font-weight: 600;
                    @include text-overflow-restaurant();
                }
                &__subtitle {
                    grid-column: 1 / 1;
                    padding-left: calc(#{$size-text} * .5);
                    margin-top: calc(#{$size-text} * .4);
                    @include text-overflow-restaurant();
                }
                &__price {
                    text-align: right;
                    margin-top: calc(#{$size-text} * .4);
                    padding-right: $size-text;
                }
                &__icon {
                    color: white;
                    font-size: calc(#{$size-text} * 1.5);
                }
            }
        }
        }
    &__order {
        width: calc(#{$size-text} * 11);
        margin-top: calc(#{$size-text} * 1.2);
    }
}